.DS_Store

.encryptedKey.json
node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts
gas-report.txt
gas-report-all.txt
gas-report-matic-scenarios.txt
gas-report-matic-tests.txt
gas-report-scenarios.txt
gas-report-tests.txt
gas-report-tests-gasTest.txt

typechain-types

#Task of provider
.Task_0xfaa50a27c0f701987ca97fd3f4d930ee0ab2c93fcf107f356f26f9f83fc6f4ff

#Client result
0xfaa50a27c0f701987ca97fd3f4d930ee0ab2c93fcf107f356f26f9f83fc6f4ff.txt